/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#adminlogin {
	text-align: right;
	font: arial;
	font-size: 10px;
	text-transform: uppercase;
}

#topbox {
    background-image: image-url('bluetable.jpg');
    background-size: 35%;
    width: 100%;
}
#banner {
	padding: 10px;
	color: white;
	text-align: center;


	img {
		float: center;
		width: 75%;
	}
}

#notice {
	color: #000 !important;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#navigation {
	padding: 15px;
	margin: 0px auto 0px auto;
	border-bottom: 1px solid white;
}

#navbar {
	display: inline-block;
	background: white;
	padding: 10px;
	width: 200px;
	height: 15px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}

li {
	display: block;
	padding: 5px;
}

#adminlinks {
	text-align: left;
}

#adminlinks_title{
	font-weight: bold;
	text-decoration: underline;
}

#columns {
		background: #FFFFCC;

	#main {
		margin-left: 17em;
		padding: 1em;
		background: #FFFFCC;
	}
	#side {
		float: left;
		padding: 1em 2em;
		width: 13em;
		background: #FFFFCC;

		form, div {
			display: inline;
		}

		input {
			font-size: small;
		}

		#cart {
			font-size: smaller;
			font-family: arial;
			color: grey;

			table {
				border-top: 1px dotted #595;
				border-bottom: 1px dotted #595;
				margin-bottom: 10px;
			}
		}
	}
}

.depot_form {
	fieldset {
		background: #FFCCCC;
		legend {
			color: white;
			background: #0099CC;
			font-family: arial;
			padding: 0.2em 1em;
		}
	}
	form {
		label {
			width: 5em;
			float: left;
			text-align: right;
			padding-top: 0.2em;
			margin-right: 0.1em;
			display: block;
		}

		select, textarea, input {
			margin-left: 0.5em;
		}

		.submit {
			margin-left: 4em;
		}

		br {
			display: none
		}
	}
}