// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#adminbox{
	td {
  text-align: left;
  font: lora;
  font-size: 10px;
  color: grey;
  line-height: 80%;
	}
}


#cart_title {
	color: white;
	font-size: 10px;
	font-weight: bold;
	font-family: lora;
	text-align: left;
	text-transform: uppercase;
	padding-top: 15px;
}

#total_line {
	font-weight: bold;
	border-top: 1px solid white;
}

#total_cell {
	font-weight: bold;
	border-top: 1px solid white;
}

.carts, #side #cart {

	.item_price, .total_line {
	text-align: right;
	}


}