.products {
	table {
		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		vertical-align: top;
	}

	.list_image {
		width: 200px;
		height: 200px;
	}

	.list_description {
		width: 100%;
		text-align: left;


		dl {
			margin: 0;
		}

		dt {
			color: grey;
			font-weight: bold;
			font-size: 18px;
		}

		dd {
			margin: 0;
			color: grey;
			font-size: 14px;
		}
	}

	.list_actions {
		font-size: 10px;
		text-align: right;
		padding-left: 1em;
	}

	a{
		color: grey;
		text-transform: uppercase;
	}

	.list_line_even {
		background: #FFCCCC;
	}

	.list_line_odd {
		background: white;
	}
}