.products {
	table {
		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		vertical-align: top;
	}

	.list_image {
		width: 200px;
		height: 200px;
	}

	.list_description {
		width: 100%;
		text-align: left;
		dl {
			margin: 0;
		}

		dt {
			color: black;
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}

	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}

	.list_line_even {
		background: #FFCCCC;
	}

	.list_line_odd {
		background: white;
	}
}