.store {
	h1 {
		margin: 0;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font: 18px lora;
		color: black;
		border-top: 3px dotted black;
		border-bottom: 3px dotted grey;
	}
	/* An entry in the store catalog */
	.entry {
		overflow: auto;
		margin-top: 1em;
		border-bottom: 1px dotted black;
		min-height: 210px;

		img {
			width: 200px;
			margin-right: 5px;
			margin-bottom: 5px;
			position: absolute;
		}

		h3 {
			font-size: 14px;
			font-family: lora;
			margin-left: 250px;
			margin-top: 0;
			margin-bottom: 2px;
			color: black;
		}

		p, div.price_line {
			margin-left: 250px;
			margin-top: 0.5em;
			margin-bottom: 0.8em;

			form, div {
			display: inline;
			}
		}

		.price {
			color: black;
			font-weight: bold;
			margin-right: 3em;
		}
	}
}
